.wrapper {
  min-width: 1280px;
}
.section-inner {
  display: flex;
  margin: 0 auto;
  width: 1280px;
  padding: 0 32px;
  margin: 0 auto;
}
.page-title {
  position: absolute;
  top: 10px;
  left: 16px;
  color: var(--color-yellow);
}
.pagination {
  position: absolute;
  top: 20px;
  right: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.pagination .pagination-dot {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #b7b7b7;
  cursor: pointer;
}
.pagination .pagination-dot.active {
  background: #00d4ff;
}
.section-container {
  display: block;
}
.section-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  overflow: hidden;
}
#Project {
  background: var(--color-yellow);
}
#Interview {
  align-items: center;
}
.wrapper.bg--yellow .page-title {
  color: var(--color-white);
}
.wrapper.bg--yellow .pagination-dot.active {
  background: var(--color-white);
}
.project-description u {
  font-weight: 500;
}

.animate-bounce {
  animation: bounce 1s infinite;
}
.fade-in-up {
  animation: fadeIn1 1s forwards;
}
.fade-in-left {
  animation: fadeIn2 1s forwards;
}
.fade-in-right {
  animation: fadeIn3 1s forwards;
}

@keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* .observe-fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
} */
